<!DOCTYPE html>
<html>
<head>
	<title>Kryptografia</title>
	<meta http-equiv="Content-Type" content="text/; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="Favicon.png" type="image/x-png"/>
	<link rel="shortcut icon" href="Favicon.png" type="image/x-png"/>
	<link rel="stylesheet" type="text/css" href="../css/strona1.css">
</head>
<body>
	<main>
		<h1 tabindex="1">Wybierz szyfr</h1>
		<a class="button" href="rail_fence.html">Rail fence</a><br></br>
			<a class="button" href="macierzowy1.html">Szyfr macierzowy a)</a><br></br>
			<a class="button" href="macierzowy2.html">Szyfr macierzowy b)</a><br></br>
			<a class="button" href="macierzowy3.html">Szyfr macierzowy c)</a><br></br>
			<a class="button" href="cezar.html">Szyfr cezara</a><br></br>
			<a class="button" href="vigenere.html">Szyfr Vigenere'a</a><br></br>
	</main>
</body>
</html>